<!DOCTYPE html>
<html lang="en-US" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Erik Hotel</title>

    <link
      rel="stylesheet"
      href="/css/plugins/fontawesome/font-awesome.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/plugins/fa5/fa5.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/plugins/elegant/elegant-font.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/plugins/ionicons/ionicons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/plugins/simpleline/simpleline.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/plugins/gdlr-custom-icon/gdlr-custom-icon.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/plugins/style.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/include/css/page-builder.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/tourmaster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/tourmaster-global-style-custom.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/tourmaster-room.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="/css/tourmaster-room-style-custom.css?1653843108&#038;ver=6.0.1"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="/css/style-core.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="/css/hotale-style-custom.css?1653801118&#038;ver=6.0.1"
      type="text/css"
      media="all"
    />

    <link
      rel="stylesheet"
      id="gdlr-core-google-font-css"
      href="https://fonts.googleapis.com/css?family=Jost%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2Citalic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic%7CAmiri%3Aregular%2Citalic%2C700%2C700italic%7CAllison%3Aregular&#038;subset=cyrillic%2Clatin%2Clatin-ext%2Carabic%2Cvietnamese&#038;ver=6.0.1"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="gdlr-core-google-font-css"
      href="https://fonts.googleapis.com/css?family=Oswald%3A200%2C300%2Cregular%2C500%2C600%2C700%7CMerriweather%3A300%2C300italic%2Cregular%2Citalic%2C700%2C700italic%2C900%2C900italic%7CJost%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2Citalic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CAllison%3Aregular&#038;subset=cyrillic%2Ccyrillic-ext%2Clatin%2Clatin-ext%2Cvietnamese&#038;ver=6.0.1"
      type="text/css"
      media="all"
    />
  </head>

  <body
    class="home page-template-default page page-id-15043 theme-hotale gdlr-core-body tourmaster-body woocommerce-no-js hotale-body hotale-body-front hotale-full hotale-with-sticky-navigation hotale-blockquote-style-3 gdlr-core-link-to-lightbox"
    data-home-url="/"
  >
    <div class="hotale-mobile-header-wrap">
      <div
        class="hotale-mobile-header hotale-header-background hotale-style-slide hotale-sticky-mobile-navigation"
        id="hotale-mobile-header"
      >
        <div class="hotale-mobile-header-container hotale-container clearfix">
          <div class="hotale-logo hotale-item-pdlr">
            <div class="hotale-logo-inner">
              <a class="hotale-fixed-nav-logo" href="/">
                <img
                  src="upload/erik-logo.png"
                  alt=""
                  width="116"
                  height="27"
                  title="logo-hotel2x1"
                />
              </a>
              <a class="hotale-orig-logo" href="/">
                <img
                  src="upload/erik-logo.png"
                  alt=""
                  width="232"
                  height="53"
                  title="logo-hotel2x2"
                />
              </a>
            </div>
          </div>
          <div class="hotale-mobile-menu-right">
            <!-- Integrate provided code snippet here -->
            <div class="tourmaster-currency-switcher">
              <span class="tourmaster-head">
                <span data-locale="language"></span><i class="fa fa-sort-down"></i>
              </span>
              <div class="tourmaster-currency-switcher-inner">
                <div class="tourmaster-currency-switcher-content">
                  <ul>
                    <li onclick="setLanguage('ru')">Russian</li>
                    <li onclick="setLanguage('en')">English</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="hotale-mobile-menu">
              <a
                class="hotale-mm-menu-button hotale-mobile-menu-button hotale-mobile-button-hamburger"
                href="#hotale-mobile-menu"
              >
                <span></span>
              </a>
              <div
                class="hotale-mm-menu-wrap hotale-navigation-font"
                id="hotale-mobile-menu"
                data-slide="right"
              >
                <ul id="menu-main-navigation" class="m-menu">
                  <li class="menu-item menu-item-has-children">
                    <a href="/" data-locale="Home">Home</a>
                  </li>
                  <li class="menu-item menu-item-home current-menu-item menu-item-has-children">
                    <a data-locale="Rooms" aria-current="page" href="#rooms">Rooms</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a data-locale="Reservation" href="#reservation">Reservation</a>
                  </li>
                  <li class="menu-item">
                    <a data-locale="Museum" href="#museum">Museum</a>
                  </li>
                  <li class="menu-item menu-item-has-children">
                    <a data-locale="Gallery" href="#gallery">Gallery</a>
                  </li>
                  <li data-locale="Contacts" class="menu-item menu-item-has-children">
                    <a href="#contactsnavigate">Contacts</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="hotale-body-outer-wrapper">
      <div class="hotale-body-wrapper clearfix hotale-with-frame">
        <div class="hotale-top-bar">
          <div class="hotale-top-bar-background"></div>
          <div class="hotale-top-bar-container hotale-top-bar-full">
            <div class="hotale-top-bar-container-inner clearfix">
              <%- include('../include/navbar-address.ejs') %>
              <div class="hotale-top-bar-right hotale-item-pdlr">
                <div class="hotale-top-bar-right-social">
                  <a href="#" target="_blank" class="hotale-top-bar-social-icon" title="instagram"
                    ><i class="fa5b fa5-instagram"></i
                  ></a>
                  <a
                    href="https://www.tripadvisor.ru/Hotel_Review-g2049539-d3431449-Reviews-ERiK_Hotel-Dasoguz_Dasoguz_Province.html"
                    target="_blank"
                    class="hotale-top-bar-social-icon"
                    title="Tripadvisor"
                  >
                    <i class="fa5b fa5-tripadvisor"></i>
                  </a>
                  <a
                    href="https://www.ahla.com/"
                    target="_blank"
                    class="hotale-top-bar-social-icon"
                    title="AHLA"
                  >
                    <img
                      src="./upload/ahla-logo.png"
                      alt="AHLA Logo"
                      style="width: 40px; height: auto"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <header
          class="hotale-header-wrap hotale-header-style-plain hotale-style-center-menu hotale-sticky-navigation hotale-style-fixed"
          data-navigation-offset="75"
        >
          <div class="hotale-header-background"></div>
          <div class="hotale-header-container hotale-header-full">
            <div class="hotale-header-container-inner clearfix">
              <div class="hotale-logo hotale-item-pdlr">
                <div class="hotale-logo-inner">
                  <a class="hotale-fixed-nav-logo" href="/">
                    <img
                      src="upload/erik-logo.png"
                      alt=""
                      width="116"
                      height="27"
                      title="logo-hotel2x1"
                    />
                  </a>
                  <a class="hotale-orig-logo" href="/">
                    <img
                      src="upload/erik-logo.png"
                      alt=""
                      width="116"
                      height="27"
                      title="logo-hotel2x1"
                    />
                  </a>
                </div>
              </div>
              <div class="hotale-navigation hotale-item-pdlr clearfix">
                <div class="hotale-main-menu" id="hotale-main-menu">
                  <ul id="menu-main-navigation-1" class="sf-menu">
                    <li class="menu-item menu-item-has-children hotale-normal-menu">
                      <a data-locale="Home" href="/" class="sf-with-ul-pre">Home</a>
                    </li>
                    <li
                      class="menu-item menu-item-home current-menu-item menu-item-has-children hotale-normal-menu"
                    >
                      <a data-locale="Rooms" href="#rooms" class="sf-with-ul-pre">Rooms</a>
                    </li>
                    <li class="menu-item menu-item-has-children hotale-normal-menu">
                      <a data-locale="Reservation" href="#reservation" class="sf-with-ul-pre"
                        >Reservation</a
                      >
                    </li>
                    <li class="menu-item hotale-normal-menu">
                      <a data-locale="Museum" href="#museum">Museum</a>
                    </li>
                    <li class="menu-item menu-item-has-children hotale-normal-menu">
                      <a data-locale="Gallery" href="#gallery" class="sf-with-ul-pre">Gallery</a>
                    </li>
                    <li class="menu-item menu-item-has-children hotale-normal-menu">
                      <a data-locale="Contacts" href="#contactsnavigate" class="sf-with-ul-pre"
                        >Contacts</a
                      >
                    </li>
                  </ul>
                  <div
                    class="hotale-navigation-slide-bar hotale-navigation-slide-bar-style-dot"
                    id="hotale-navigation-slide-bar"
                  ></div>
                </div>
                <div
                  class="hotale-main-menu-right-wrap clearfix hotale-item-mglr hotale-navigation-top"
                >
                  <div class="tourmaster-currency-switcher">
                    <span class="tourmaster-head"
                      ><span data-locale="language"></span><i class="fa fa-sort-down"></i
                    ></span>
                    <div class="tourmaster-currency-switcher-inner">
                      <div class="tourmaster-currency-switcher-content">
                        <ul>
                          <li onclick="setLanguage('ru')">Russian</li>
                          <li onclick="setLanguage('en')">English</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="tourmaster-room-navigation-checkout-wrap">
                    <a
                      id="tourmaster-room-navigation-checkout-button"
                      class="tourmaster-room-navigation-checkout-button"
                      href="#reservation"
                      data-checkout-label="Check Out"
                      data-label="Book Now"
                      data-locale="BookNow"
                    >
                      Book Now
                    </a>
                    <div class="tourmaster-room-cart-item-wrap">
                      <div class="tourmaster-room-cart-items">
                        <ul></ul>
                        <a class="tourmaster-checkout-button" href="#" data-locale="Check"
                          >Check Out</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- hotale-navigation -->
            </div>
            <!-- hotale-header-inner -->
          </div>
          <!-- hotale-header-container -->
        </header>
        <!-- header -->
        <div id="rooms" class="hotale-page-wrapper" id="hotale-page-wrapper">
          <div
            class="tourmaster-room-single-header-title-wrap"
            style="
              border-radius: 20px 20px 20px 20px;
              -moz-border-radius: 20px 20px 20px 20px;
              -webkit-border-radius: 20px 20px 20px 20px;
            "
          >
            <div class="tourmaster-room-single-header-background-overlay"></div>
            <div class="tourmaster-container">
              <h1 class="tourmaster-item-pdlr" data-locale="StandardDeluxe">Standard Room</h1>
            </div>
          </div>
          <div class="gdlr-core-page-builder-body">
            <div
              class="gdlr-core-pbf-sidebar-wrapper gdlr-core-sticky-sidebar gdlr-core-js"
              id="gdlr-core-sidebar-wrapper-1"
            >
              <div
                class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container"
              >
                <div
                  class="gdlr-core-pbf-sidebar-content gdlr-core-column-45 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left"
                >
                  <div class="gdlr-core-pbf-sidebar-content-inner">
                    <!-- <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                      <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr"
                            >
                              <div
                                class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-round"
                                style="
                                  border-width: 0px;
                                  border-radius: 20px;
                                  -moz-border-radius: 20px;
                                  -webkit-border-radius: 20px;
                                "
                              >
                                <img
                                  src="./upload/erik-rooms/erik-room1.png"
                                  alt=""
                                  width="1150"
                                  height="490"
                                  title="christopher-jolly-GqbU78bdJFM-unsplash"
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                    <div
                      class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first"
                      id="gdlr-core-column-1"
                    >
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                        style="margin: 0px 0px 0px 0px; padding: 10px 0px 20px 0px"
                      >
                      <% for(let room of rooms) { %>
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="tourmaster-room-title-item tourmaster-item-mglr tourmaster-item-pdb clearfix"
                              style="padding-bottom: 25px"
                            >
                              <h3
                                class="tourmaster-room-title-item-title"
                                
                              >
                                <%= room.title %>
                              </h3>
                              <div
                                class="tourmaster-room-title-item-caption"
                                
                              >
                                For <%= room.guestNum %> Guest
                              </div>
                              <div class="tourmaster-room-title-price">
                                <div class="tourmaster-head">
                                  <!-- <span class="tourmaster-label">From</span
                                  ><span class="tourmaster-price-discount">CHF 144.00</span> -->
                                  <span class="tourmaster-price">$<%= room.price %></span>
                                </div>
                                <div class="tourmaster-tail" data-locale="Night">per night</div>
                              </div>
                            </div>
                          </div>
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
                            >
                              <div class="gdlr-core-divider-line gdlr-core-skin-divider"></div>
                            </div>
                          </div>
                        </div>
                        <% } %>
                      </div>
                    </div>
                    

                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                      <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js"></div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20">
                      <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js"></div>
                      </div>
                    </div>
                    <div
                      class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first"
                      id="gdlr-core-column-6"
                    >
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                        style="padding: 10px 0px 0px 0px"
                      >
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                            >
                              <div
                                class="gdlr-core-text-box-item-content"
                                style="font-size: 18px; text-transform: none"
                              >
                                <p data-locale="RoomDescription">
                                  The hotel has six double rooms. The interior of each room is made
                                  in traditional European style. Room area is about 20 sq.m. It is
                                  possible to place an extra bed. Equipment, finishing elements,
                                  design and accessories in the rooms are made of high quality
                                  materials.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first"
                      id="gdlr-core-column-6"
                    >
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                        style="padding: 10px 0px 0px 0px"
                      >
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align"
                            >
                              <div
                                class="gdlr-core-text-box-item-content"
                                style="font-size: 18px; text-transform: none"
                              >
                                <p data-locale="ConferenceDescription">
                                  <i class="fa fa-users" style="margin-right: 5px"></i>
                                  <!-- Add your conference icon here -->
                                  Отель ERIK идеально подходит для проживания небольших бизнес
                                  коллективов. Администрация отеля с радостью окажет содействие в
                                  организации небольшой конференции или семинара. В распоряжении
                                  гостей помещение кафе, проектор, экран, оргтехника и т.д.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div
                      class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first"
                      id="gdlr-core-column-7"
                    >
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                        style="margin: 0px 0px 0px 0px; padding: 0px 0px 25px 0px"
                      >
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align"
                            >
                              <div class="gdlr-core-divider-line gdlr-core-skin-divider"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                      <div class="gdlr-core-pbf-column-content-margin gdlr-core-js">
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 40px"
                            >
                              <div class="gdlr-core-title-item-title-wrap">
                                <h3
                                  class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                  style="
                                    font-size: 25px;
                                    font-weight: 500;
                                    letter-spacing: 0px;
                                    text-transform: none;
                                  "
                                  data-locale="RoomAmenities"
                                >
                                  Room Amenities<span
                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                  ></span>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first"
                      id="gdlr-core-column-8"
                    >
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 10px 20px 20px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 16px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-watch-tv" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="LCDTV"
                                  >
                                    LCD TV<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-9">
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 10px 20px 10px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 15px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-wifi-signal" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="FreeWifi"
                                  >
                                    Free Wifi<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-10">
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 20px 20px 10px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 15px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-hair-dryer1" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="HairDryer"
                                  >
                                    Hair Dryer<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first"
                      id="gdlr-core-column-11"
                    >
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 10px 20px 20px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 16px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-telephone" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="Phone"
                                  >
                                    Phone<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-12">
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 10px 20px 10px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 15px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-air-conditioner1" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="AirConditioning"
                                  >
                                    Air Conditioning<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first"
                      id="gdlr-core-column-16"
                    >
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js"
                        style="margin: 0px 0px 0px 0px; padding: 45px 0px 0px 0px"
                      >
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 40px"
                            >
                              <div class="gdlr-core-title-item-title-wrap">
                                <h3
                                  class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                  style="
                                    font-size: 25px;
                                    font-weight: 500;
                                    letter-spacing: 0px;
                                    text-transform: none;
                                  "
                                  data-locale="HotelAmenities"
                                >
                                  Hotel Amenities<span
                                    class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                  ></span>
                                </h3>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first"
                      id="gdlr-core-column-17"
                    >
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 10px 20px 20px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 15px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-food-service-copy" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="RoomService"
                                  >
                                    Room Service<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-18">
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 10px 20px 10px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 15px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-parking" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="Parking"
                                  >
                                    Parking<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-19">
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 20px 20px 10px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 16px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-dish" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="Restaurant"
                                  >
                                    Free breakfast<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-18">
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 10px 20px 10px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 15px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-washing-machine" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="Laundry"
                                  >
                                    Laundry<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-9">
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 10px 20px 10px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 15px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-wifi-signal" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="FreeWifi"
                                  >
                                    Free Wifi<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-9">
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 10px 20px 10px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 15px 0px 0px; font-size: 35px"
                              >
                                <i class="gdlr-icon-briefcase" style="color: #1e1e1e"></i>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="Business Services"
                                  >
                                    Business Services<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="gdlr-core-pbf-column gdlr-core-column-20" id="gdlr-core-column-19">
                      <div
                        class="gdlr-core-pbf-column-content-margin gdlr-core-js gdlr-core-move-up-with-shadow"
                        style="
                          margin: 0px 10px 20px 10px;
                          padding: 25px 0px 0px 10px;
                          border-radius: 20px 20px 20px 20px;
                          -moz-border-radius: 20px 20px 20px 20px;
                          -webkit-border-radius: 20px 20px 20px 20px;
                        "
                      >
                        <div
                          class="gdlr-core-pbf-background-wrap"
                          style="
                            border-radius: 20px 20px 20px 20px;
                            -moz-border-radius: 20px 20px 20px 20px;
                            -webkit-border-radius: 20px 20px 20px 20px;
                            border-width: 1px 1px 1px 1px;
                            border-color: #e5e5e5;
                            border-style: solid;
                          "
                        ></div>
                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                          <div class="gdlr-core-pbf-element">
                            <div
                              class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr"
                              style="padding-bottom: 10px"
                            >
                              <div
                                class="gdlr-core-title-item-left-icon"
                                style="margin: -12px 15px 0px 0px; font-size: 35px"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 24 24"
                                  fill="currentColor"
                                  style="color: #1e1e1e; width: 35px; height: 35px"
                                >
                                  <path
                                    d="M20 2H4c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h7v4h-2v2h6v-2h-2v-4h7c1.11 0 2-.9 2-2V4c0-1.1-.89-2-2-2zm0 14H4V4h16v12z"
                                  />
                                  <path d="M6 6h9v2H6zM6 9h12v2H6zM6 12h9v2H6z" />
                                </svg>
                              </div>
                              <div class="gdlr-core-title-item-left-icon-wrap">
                                <div class="gdlr-core-title-item-title-wrap">
                                  <h3
                                    class="gdlr-core-title-item-title gdlr-core-skin-title class-test"
                                    style="
                                      font-size: 17px;
                                      font-weight: 500;
                                      letter-spacing: 0px;
                                      text-transform: none;
                                      color: #848484;
                                    "
                                    data-locale="Conference"
                                  >
                                    Conference<span
                                      class="gdlr-core-title-item-title-divider gdlr-core-skin-divider"
                                    ></span>
                                  </h3>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right hotale-sidebar-area gdlr-core-column-15 gdlr-core-pbf-sidebar-padding gdlr-core-line-height"
                >
                  <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                    <div class="tourmaster-room-booking-bar-wrap">
                      <div class="tourmaster-room-booking-bar-title">
                        <span
                          class="tourmaster-active"
                          data-room-tab="booking"
                          data-locale="BookYourRoom"
                          >Book Your Room</span
                        >
                      </div>
                      <div class="tourmaster-room-booking-bar-content">
                        <div
                          class="tourmaster-room-booking-wrap"
                          class="tourmaster-active"
                          data-room-tab="booking"
                        >
                          <form
                            class="tourmaster-room-booking-form clearfix"
                            id="tourmaster-room-booking-form"
                            data-action="tourmaster_room_booking_form"
                          >
                            <div class="tourmaster-room-date-selection tourmaster-vertical">
                              <div class="tourmaster-custom-start-date gdlr-core-skin-e-background">
                                <div
                                  class="tourmaster-head gdlr-core-skin-e-content"
                                  data-locale="CheckIn"
                                >
                                  Check In
                                </div>
                                <div class="tourmaster-tail gdlr-core-skin-e-content">
                                  Jul 18, 2024
                                </div>
                                <input
                                  type="hidden"
                                  name="start_date"
                                  value="2024-07-28"
                                  required
                                />
                              </div>
                              <div class="tourmaster-custom-end-date gdlr-core-skin-e-background">
                                <div
                                  class="tourmaster-head gdlr-core-skin-e-content"
                                  data-locale="CheckOut"
                                >
                                  Check Out
                                </div>
                                <div class="tourmaster-tail gdlr-core-skin-e-content">
                                  Jul 20, 2024
                                </div>
                                <input type="hidden" name="end_date" value="2024-07-29" required />
                              </div>
                              <div
                                class="tourmaster-custom-datepicker-wrap"
                                data-date-format="d M yy"
                              >
                                <i class="tourmaster-custom-datepicker-close icon_close"></i>
                                <div class="tourmaster-custom-datepicker-title"></div>
                                <div class="tourmaster-custom-datepicker-calendar"></div>
                              </div>
                            </div>
                            <div class="tourmaster-room-amount-selection">
                              <div
                                class="tourmaster-custom-amount-display gdlr-core-skin-e-background"
                              >
                                <div
                                  class="tourmaster-head gdlr-core-skin-e-content"
                                  data-locale="Rooms"
                                >
                                  Room
                                </div>
                                <div class="tourmaster-tail gdlr-core-skin-e-content">
                                  <span class="tourmaster-space"></span>1
                                </div>
                              </div>
                              <div class="tourmaster-custom-amount-selection-wrap">
                                <div class="tourmaster-custom-amount-selection-item clearfix">
                                  <div class="tourmaster-head" data-locale="Rooms">Room</div>
                                  <div class="tourmaster-tail">
                                    <span class="tourmaster-minus">-</span
                                    ><span class="tourmaster-amount">1</span
                                    ><span class="tourmaster-plus">+</span>
                                  </div>
                                  <input type="hidden" name="room_amount" value="1" />
                                </div>
                              </div>
                            </div>
                            <div class="tourmaster-room-booking-guest-selection tourmaster-one">
                              <div class="tourmaster-room-amount-selection">
                                <div
                                  class="tourmaster-custom-amount-display gdlr-core-skin-e-background"
                                >
                                  <div
                                    data-locale="Guests"
                                    class="tourmaster-head gdlr-core-skin-e-content"
                                  >
                                    <span data-locale="Rooms"
                                      >Room<span class="tourmaster-number">1</span> : </span
                                    >Guests
                                  </div>
                                  <div class="tourmaster-tail gdlr-core-skin-e-content">
                                    <span class="tourmaster-space"></span>
                                    <span data-locale="Adults">Adults</span> 2
                                    <span class="tourmaster-space"></span>
                                    <span data-locale="Children">Children</span> 0
                                  </div>
                                </div>

                                <div class="tourmaster-custom-amount-selection-wrap">
                                  <div
                                    class="tourmaster-custom-amount-selection-item clearfix"
                                    data-label="Adults"
                                  >
                                    <div class="tourmaster-head" data-locale="Adults">Adults</div>
                                    <div class="tourmaster-tail">
                                      <span class="tourmaster-minus">-</span
                                      ><span class="tourmaster-amount">2</span
                                      ><span class="tourmaster-plus">+</span>
                                    </div>
                                    <input type="hidden" name="adult[]" value="2" />
                                  </div>
                                  <div
                                    class="tourmaster-custom-amount-selection-item clearfix"
                                    data-label="Children"
                                  >
                                    <div class="tourmaster-head" data-locale="Children">
                                      Children
                                    </div>
                                    <div class="tourmaster-tail">
                                      <span class="tourmaster-minus">-</span
                                      ><span class="tourmaster-amount">0</span
                                      ><span class="tourmaster-plus">+</span>
                                    </div>
                                    <input type="hidden" name="children[]" value="0" />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="tourmaster-room-booking-phone-selection">
                              <div class="tourmaster-room-amount-selection">
                                <div
                                  class="tourmaster-custom-amount-display gdlr-core-skin-e-background"
                                >
                                  <div
                                    data-locale="Phone"
                                    class="tourmaster-head gdlr-core-skin-e-content"
                                  >
                                    Phone
                                  </div>
                                  <div class="tourmaster-tail gdlr-core-skin-e-content">
                                    <input
                                      data-locale-placeholder="PhonePlaceholder"
                                      required
                                      type="text"
                                      name="phone"
                                      placeholder="Enter your phone number"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                            <input type="hidden" name="room_id" value="15031" required /><input
                              type="hidden"
                              name="post_type"
                              value="room"
                            />
                            <button
                              id="tourmaster-room-navigation-checkout-button"
                              class="tourmaster-room-navigation-checkout-button"
                              type="submit"
                              data-checkout-label="Check Out"
                              data-label="Book Now"
                              data-locale="BookNow"
                              style="
                                background-color: #1e1e1e;
                                color: #fff;
                                border-radius: 9px;
                                cursor: pointer;
                              "
                            >
                              Book Now
                            </button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="gdlr-core-pbf-wrapper" id="gdlr-core-wrapper-2">
              <div class="gdlr-core-pbf-background-wrap"></div>
              <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-pbf-wrapper-full">
                  <div class="gdlr-core-pbf-element">
                    <div
                      class="gdlr-core-gallery-item gdlr-core-item-pdb clearfix gdlr-core-gallery-item-style-scroll gdlr-core-item-pdlr"
                    >
                      <div class="gdlr-core-sly-slider gdlr-core-js-2">
                        <ul class="slides">


                          <% for(let room of rooms) { %>
                          <li
                            class="gdlr-core-gallery-list gdlr-core-item-mglr"
                            style="margin-left: 5px; margin-right: 5px"
                          >
                            <div class="gdlr-core-media-image" style="height: 500px">
                              <a
                                class="gdlr-core-lightgallery gdlr-core-js"
                                href="<%= room.image %>"
                                data-lightbox-group="gdlr-core-img-group-1"
                              >
                                <img
                                  src="<%= room.image %>"
                                  alt="<%= room.title %>"
                                  width="1984"
                                  height="2560"
                                  title="andrii-podilnyk-766487-unsplash"
                                />
                              </a>
                            </div>
                          </li>
                          <% } %>
                          
                        </ul>
                      </div>
                      <div class="gdlr-core-sly-scroll">
                        <div class="gdlr-core-sly-scroll-handle"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Contacts Section -->
        <footer>
          <div class="hotale-footer-wrapper" id="footer-wrapper-flex">
            <div
              class="hotale-footer-container hotale-container clearfix"
              id="footer-container-flex"
            >
              <div
                class="hotale-footer-column hotale-item-pdlr hotale-column-20"
                id="footer-column-flex"
              >
                <!-- <div id="block-22" class="widget widget_block hotale-widget">
                  <figure class="wp-block-image size-full is-resized">
                    <img src="upload/erik-logo.png" alt="" class="wp-image-15876" width="116" />
                  </figure>
                </div> -->
                <div id="block-22" class="widget widget_block hotale-widget">
                  <figure class="wp-block-image size-full is-resized">
                    <img src="upload/ahla-logo.png" alt="" class="wp-image-15876" width="116" />
                  </figure>
                </div>

                <div id="block-23" class="widget widget_block widget_text hotale-widget">
                  <!-- <p data-locale="ContactsSectionP"> -->
                  <span
                    data-locale="ContactsSectionSpan1"
                    style="
                      color: #fb3007;
                      font-weight: 700;
                      font-size: medium;
                      text-decoration: underline;
                    "
                    >В чем главное преимущество небольших отелей?</span
                  >
                  <p data-locale="ContactsSectionP" style="font-size: 14px">
                    Мини-отели обеспечивают достаточно высокий уровень комфорта при, как
                    правило, более низких ценах на проживание в номере. Они подходят тем, кто
                    весь день занят. А если еще хочется успеть посмотреть достопримечательности,
                    то номер нужен только для того, чтобы переночевать в нем. Тогда многие
                    опции, которые предлагают крупные отели, остаются невостребованными. И
                    вполне достаточно уютного небольшого номера, вежливого персонала и
                    возможности заказать завтрак в номер.
                  </p>
                  <!-- <span
                    data-locale="ContactsSectionSpan2"
                    style="
                      color: #fb3007;
                      font-weight: 700;
                      font-size: medium;
                      text-decoration: underline;
                    "
                    >А это как раз все то, что предлагает отель ERIK</span
                  > -->
                  <!-- </p> -->
                </div>
                <!-- Comment section end -->
              </div>
              <!-- Comment section -->
              <div class="comment-container">
                <h1 data-locale="LeaveAComment">Leave a Comment</h1>
                <%- include('../include/review.ejs') %>
              </div>
              <!-- End COmments section -->
            </div>
          </div>
          <div class="hotale-copyright-wrapper">
            <div class="hotale-copyright-container hotale-container">
              <div class="hotale-copyright-text hotale-item-pdlr">
                © Copyright by Pikir.
                <a data-locale="TermsAndConditions" href="https://pikir.biz/"
                  >Terms & Conditions.</a
                >
              </div>
            </div>
          </div>
        </footer>
        <!-- End Contacts Section -->
      </div>
    </div>

    <script type="text/javascript" src="/js/jquery.min.js?ver=3.6.0" id="jquery-core-js"></script>
    <script
      type="text/javascript"
      src="/js/jquery-migrate.min.js?ver=3.3.2"
      id="jquery-migrate-js"
    ></script>

    <script type="text/javascript" src="/ui/core.min.js" id="jquery-ui-core-js"></script>
    <script
      type="text/javascript"
      src="/ui/datepicker.min.js"
      id="jquery-ui-datepicker-js"
    ></script>
    <script type="text/javascript" src="/ui/effect.min.js" id="jquery-effects-core-js"></script>
    <script
      type="text/javascript"
      src="/plugins/tourmaster.js"
      id="tourmaster-script-js"
    ></script>
    <script
      type="text/javascript"
      src="/plugins/tourmaster-room.js"
      id="tourmaster-room-script-js"
    ></script>
    <script
      type="text/javascript"
      src="/plugins/jquery.mmenu.js"
      id="hotale-jquery-mmenu-js"
    ></script>
    <script
      type="text/javascript"
      src="/plugins/jquery.superfish.js"
      id="hotale-jquery-superfish-js"
    ></script>
    <script
      type="text/javascript"
      src="/plugins/script-core.js"
      id="hotale-script-core-js"
    ></script>
    <script type="text/javascript" src="/plugins/jquery.flexslider-min.js"></script>
    <script
      type="text/javascript"
      src="/plugins/script.js?ver=1653819908"
      id="gdlr-core-plugin-js"
    ></script>
    <script type="text/javascript" id="gdlr-core-page-builder-js-extra">
      /* <![CDATA[ */
      var gdlr_core_pbf = {
        admin: '',
        video: {
          width: '640',
          height: '360',
        },
        ajax_url: '#',
      };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      s
      src="/plugins/page-builder.js?ver=1.3.9"
      id="gdlr-core-page-builder-js"
    ></script>
    <script>
      // JavaScript function to toggle content visibility
      function toggleContent() {
        var dots = document.getElementById('dots');
        var moreText = document.getElementById('more');
        var btnText = document.getElementById('myBtn');

        if (!dots || !moreText || !btnText) {
          console.error('Required elements not found.');
          return;
        }

        if (dots.style.display === 'none') {
          dots.style.display = 'inline';
          btnText.innerHTML = 'Read more';
          moreText.style.display = 'none';
        } else {
          dots.style.display = 'none';
          btnText.innerHTML = 'Read less';
          moreText.style.display = 'inline';
        }
      }
    </script>
    <script>
      const submitRoom = document.getElementById('tourmaster-room-booking-form');
      submitRoom.addEventListener('submit', (e) => {
        e.preventDefault();
        const checkIn = document.getElementsByName('start_date')[0].value;
        const checkOut = document.getElementsByName('end_date')[0].value;
        const room = document.getElementsByName('room_amount')[0].value;
        const phonenumber = document.getElementsByName('phone')[0].value;
        const adult = document.getElementsByName('adult[]')[0].value;
        const children = document.getElementsByName('children[]')[0].value;
        const guests = `Adult:${adult} Children:${children}`;
        const data = JSON.stringify({
          checkIn,
          checkOut,
          room,
          phonenumber,
          guests,
        });
        console.log(data);
        fetch('/book', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: data,
        })
          .then((response) => response.json())
          .then((data) => {
            console.log('Success:', data);
            alert('Message Delivered!');
          })
          .catch((error) => {
            alert('Yalnyshlyk yuze cykdy', error.message);
            console.error('Error:', error);
          });
      });
    </script>

    <script src="/js/main.js"></script>

    <script src="/js/fetch.js"></script>
  </body>
</html>
